/* Style for number buttons */
.button-number {
    -fx-background-color: lightbrown;
    -fx-text-fill: brown;
    -fx-font-weight: bold;
}

/* Style for operator buttons */
.button-operator {
    -fx-background-color: #654321; /* Dark brown */
    -fx-text-fill: white;
}

/* Style for equal button */
.button-equal {
    -fx-background-color: red;
    -fx-text-fill: white;
}
